*::before,
*,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

.nav-bar {
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  padding-top: 0;
}

.nav-bar-logo {
	width: 80%;
	height: 30px;
  margin-left: 28px;
}

.logo {
  width: 250px;
  height: 26px;
  display:inline-block;
}

.mbutton{
  color: #fff;
  background: #6288a5;
  font-size: 10px;
  padding: 10px 10px 9px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-radius: 3px;
  border: 1px solid #326891;
  vertical-align: middle;
  margin-right: 5px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  display: inline-block;
  margin-bottom: 5px;
}

.mbutton:hover {
  background: #326891;  
}

.bolder {
  font-size: 15.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;  
}

.bolder:hover {
	text-decoration: underline;
}

.menu-sear {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  padding: 8px 9px;
  color: #333;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  line-height: 13px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: transparent;
}

.class {
 border: 0;
 background: #fff;
 border-radius: 3px;
}

.class:hover {
  background-color: #f7f7f7;
}

.msearch {
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
  padding-left: 20px;
}

.mclass:hover {
  background-color: #f7f7f7;
}

.myspace {
  padding-top: 10px;
  float: left;
  line-height: 19px;
  padding-top: 5px;
  padding-left: 25px;
  line-height: 19px;

}

.header {
  width: 100%;
  z-index: 200;
  background-color: #fff;
  border-bottom: none;
  transition: all 0.2s ease-in-out;
}

.section {
  margin: 0 auto;
  max-width: 1605px;
  background: transparent;
  border-bottom: 0;
  padding: 4px 15px 2px;   
}

.search-menu {
  float: left;
  padding-left: 10px;
  font-size: 100%;
}

.msubs {
  padding-left: 50px;
  float: right;
}