*::before,
*,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

.nav-bar {
  margin: 0 auto;
  max-width: 1605px;
  background: transparent;
  border-bottom: 0;
  padding: 4px 15px 2px;
  height: 36px;
  position: relative;
}

.nav-bar-logo {
	width: 80%;
	height: 28px;
  margin-left: 28px;
}

.mbutton{
  color: #fff;
  background: #6288a5;
  font-size: 11px;
  padding: 11px 12px 8px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-radius: 3px;
  border: 1px solid #326891;
  vertical-align: middle;
  margin-right: 28px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
}

.mbutton:hover {
  background: #326891;
  
}

.bolder {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-decoration: none;
  color: black;
}

.bolder:hover {
	text-decoration: underline;
}

.menu {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  padding: 8px 9px;
  color: #333;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  line-height: 13px;
  vertical-align: middle;
  margin-right: 8px;
}

.class {
 border: 0;
 background: #fff;
 border-radius: 3px;
}

.class:hover {
  background-color: #f7f7f7;
}

.msearch {
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
}

.mclass {
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  transition: ease 0.6s;
  background-color: transparent;
  color: #000;
  font-size: 11px;
  font-weight: 700;
  border: 0;
}

.mclass:hover {
  background-color: #f7f7f7;
}


.myspace {
  display: block;
  position: absolute;
  left: 105px;
  line-height: 19px;
  top: 10px;
}