*::before,
*,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: 'Lora', serif;
}

.nav-bar {
	height: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 28px;
	padding-right: 28px;
	border-bottom: 1px solid #e2e2e2;
}

.nav-bar-logo {
	width: 169px;
	height: 28px;
}

.icons-container {
	display: flex;
	align-items: center;
}


.social-media-icons {
	display: flex;
}

.social-icon {
	background: #eeeeee;
	height: 26px;
	width: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-right: 18px;
}

.social-icon:hover {
	background: #fff;
}

.extra-icons {
	display: flex;
	align-items: center;
}

.extra-icon:first-child {
	margin-right: 11px;
}

.bolder {
	font-size: 12.5px;
	font-weight: 700;
	color: black;
	text-decoration: none;
}

.bolder:hover {
	text-decoration: underline;
}

.nav-bar-text {
	font-size: 13px;
}

.space {
	padding-left: 4px;
	padding-right: 4px;
}

h1 {
	max-width: 410px;
	color: #121212;
	font-size: 40px;
	line-height: 3rem;
	font-style: italic;
}

.paragraph {
	color: #333;
	font-size: 1.25rem;
	line-height: 1.875rem;
	margin-top: 1rem;
}

.figcaption-text {
	color: #666;
	font-size: 15px;
}

.credit {
	color: #888;
	font-size: 13px;
}

.date-text {
	color: #333333;
	font-size: 13px;
}

.content-title {
	font-size: 20px;
	color: #333;
	margin-top: 1rem;
}

.graphic-info {
	font-size: 18px;
	color: #000;
}

.graphic-description {
	color: #666;
	font-size: 14px;
}

.card-description, .card-title {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

.card-title {
	font-size: 11px;
	font-weight: 700;
}

.card-description {
	font-size: 14px;
}

.gray {
	color: #666;
}

.block {
	display: block;
}

.small-text {
	color: #999;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.comments-button {
	background: rgb(98, 136, 165);
	border: 0.5px solid rgb(50, 104, 145);
	padding: 10px;
	width: 330px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-size: 13px;
	border-radius: 3px;
	transition: 0.5s all ease-in;
}

.comments-button:hover {
	background-color: rgb(50, 104, 145);
	cursor: pointer;
}

.link-author {
	font-size: 15px;
  color: #333333;
  font-weight: 700;
  text-decoration: none;

}

.link-author:hover {
  text-decoration: underline;
}

.link {
  color: #326891;
  text-decoration: underline;
  font-size: 20px;

}

.link:hover {
  text-decoration: none;
}

.credit {
  color: #eeeeee;
  font-size: 18px;
}

.small-text .small {
  color: #999999;
  font-size: 12px;
}

.small {
 text-decoration: none;
}

.small:hover {
  text-decoration: underline;
}

.comments {
  color: #ffffff;
  font-size: 13px;
  background-color: #6288a5;
  padding: 5px 0px;
}

.nasa {
  color: #121212;
  font-size: 18px;
  text-decoration: none;
}

.nasa:hover {
  color: #666666;
}

.ghome {
  color: #6288a5;
  font-size: 11px;
  text-decoration: none;
  margin: 18px 0px 0px 474.562px;
}

.h3 {
  font-size: 13px;
  color: #333333;
}

.mlist {
  color: #333333;
  font-size: 14px;
  text-decoration: none
}

.mlist:hover {
  text-decoration: underline;
}

.mbold {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.msmall {
  color: #000000;
  font-size: 11px;
  text-decoration: none;
}

.msmall:hover {
  text-decoration: underline;
}

